logger:
  level: "info" # возможные значения: error, warn, info, debug
  fileName: "/tmp/calendar.log"
storage:
  type: "sql" # возможные значения: memory, sql
  sql:
    host: "localhost"
    port: 5432
    user: "***"
    password: "***"
    dbName: "***"
    driver: "postgres"
http:
  host: "localhost"
  port: "8080"
  timeout: "30s"
grps:
  host: ""
  port: "50051"
  timeout: "30s"